@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, [data-theme="light"] {
    --background: 210 17% 98%; /* Gris Suave */
    --foreground: 210 29% 29%; /* Gris Oscuro */
    --card: 0 0% 100%;
    --card-foreground: 210 29% 29%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 29%;
    --primary: 217 71% 60%; /* Azul Dinámico */
    --primary-foreground: 0 0% 100%;
    --secondary: 129 52% 63%; /* Verde Fresco */
    --secondary-foreground: 210 29% 29%;
    --muted: 210 17% 92%; /* Un gris ligeramente más oscuro para fondos de elementos */
    --muted-foreground: 184 7% 52%; /* Gris Claro */
    --accent: 217 71% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 88%;
    --input: 210 17% 88%;
    --ring: 217 71% 60%;
    --radius: 0.8rem; /* Aumentado para bordes más suaves */
  }

  [data-theme="dark"] {
    --background: 210 20% 12%;
    --foreground: 210 17% 90%;
    --card: 210 20% 16%;
    --card-foreground: 210 17% 90%;
    --popover: 210 20% 16%;
    --popover-foreground: 210 17% 90%;
    --primary: 217 71% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 129 52% 63%;
    --secondary-foreground: 210 20% 12%;
    --muted: 210 20% 20%;
    --muted-foreground: 184 7% 52%;
    --accent: 217 71% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 217 71% 60%;
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* New Card Styles */
@layer components {
  .card {
    border-radius: var(--radius);
    box-shadow: 0px 4px 12px rgba(52, 73, 94, 0.07);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  }

  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 16px rgba(52, 73, 94, 0.1);
  }
}
